<% layout("/layouts/boilerplate") %>
<body>
    <div class="mainPage">
        <h2 class="Heading">DashBoard</h2>
        <form method="GET" action="/views/signup">
            <button class="btn">SignUp</button>
        </form>
        <br>
        <form method="GET" action="/views/login">
            <button class="btn">LOGIN</button>
        </form>

    </div>
    
</body>
