<% layout("/layouts/boilerplate") %>
<body>
    <div>
        <h3>Login to your account</h3>
        <form method="POST" action="/views">
        <input placeholder="username" type="text" class="details">
        <br><br>
        <input placeholder="password" type="password" class="details">
        <br><br>
        <button class="btn">LOGIN</button>
    </form>
    </div>
</body>
