body {
    background-color: rgb(43, 90, 90) !important;
    margin-left: 600px !important;
    margin-right: 600px;
    
} 

.btn {
    background-color: aquamarine;
    height: 35px;
    width: 100px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
}

.details {
    height: 30px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
} 


/* div {
    height : 200px !important;
    width : 400px !important;
} */

.mainPage {
    height : 200px;
    width: 200px;
    margin: 50px 100px 100px 50px;
    text-align: center;
}
